{% extends "baseBS4.html" %}

    {% load static %}

    {% block title %}
       Mods Minecraft
    {% endblock %}

    {% block styles %}
        {{ block.super }}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
          crossorigin="anonymous">
    {% endblock %}

    {% block content %}
    <h1 class="text-center mb-5">Liste des mods minecraft</h1>
    <div class="row justify-content-around flex-wrap">

        {% for mods in objects %}

                    <div class="card mb-4" style="width: 18rem;">
                        <img class="card-img-top" src="{{mods.img}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{mods.title}}</h5>
                            <p><small class="text-muted">Par {{mods.creator}}</small></p>
                            <p><small class="text-muted">Version : {{mods.version}}</small></p>
                            <p class="card-text">{{mods.description}}</p>
                            <div class="d-flex justify-content-between">
                            <a href="http://localhost:8000/mods/edit/{{mods.id}}" class="btn btn-primary">Détails</a>
                            <a href="http://localhost:8000/mods/del/{{mods.id}}" class="btn btn-danger">Suppression</a>
                        </div>
                        </div>
                    </div>
    {% endfor %}
    </div>
    <div class="text-center"><br>
        <a class="btn btn-success m-3" href="http://localhost:8000/mods/">Ajouter un nouveau mods</a>
    </div>
   

    {% endblock %}
